<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title><%- title%></title>
  <meta name="discription" content="<%- description%>">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WMZZBG3');</script>
  <!-- End Google Tag Manager -->
  <meta property="og:title" content="Chain">
  <meta property="og:description" content="Chain">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://chain-market.net/assets/img/lp/ogp.png">
  <meta property="twitter:card" content="summary_large_image">
  <meta name="thumbnail" content="https://chain-market.net/assets/img/lp/ogp.png">
  <meta name="twitter:image" content="https://chain-market.net/assets/img/lp/ogp.png">
  <meta name="twitter:title" content="<%- title%>">
  <meta name="twitter:description" content="<%- description%>">

  <script type="application/ld+json">
  [
    {"@context":"http://schema.org",
    "@type":"WebSite",
    "inLanguage":"ja",
    "url":"https://chain-market.net/lp/",
    "name":"Chain",
    "author":[
      {
        "@type":"Organization",
        "name":"Chain",
        "description":"<%- description%>",
        "url":"https://chain-market.net/",
        "sameAs":[
          {
            "twitter":"chain_marketnet",
            "instagram":"chain2364",
            "line":"309jmrcc",
          }
        ]
      }
    ],
    "publisher":{
      "@type":"Organization",
      "name":"Chain",
      "description":"<%- description%>",
      "logo":{
        "@type":"ImageObject",
        "url":"https://chain-market.net/user_data/packages/default/img/common/android-chrome-192x192.png",
        "width":192,
        "height":192
        }
      },
      "image":"https://chain-market.net/assets/img/lp/ogp.png",
      "description":"<%- description%>"
    }
  ]</script>
  <link rel="shortcut icon" href="https://chain-market.net/user_data/packages/default/img/common/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="https://chain-market.net/user_data/packages/default/img/common/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" type="image/png" href="https://chain-market.net/user_data/packages/default/img/common/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" href="https://chain-market.net/user_data/packages/default/img/common/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Zen+Maru+Gothic:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/lp.css">
  <script src="./assets/js/main.js"></script>
  <link rel="preload">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMZZBG3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="header">
      <div  class="header__wrapper">
        <h1 class="header__logo"><img src="./assets/img/lp/logo.svg" alt="Chain"></h1>
        <button type="button" class="header__menu-btn js-menu-btn"></button>
        <div class="header__menu">
          <ul>
            <li><a href="#about">Chainとは？</a></li>
            <li><a href="#price">Price</a></li>
            <li><a href="https://chain-market.net" class="c-btn--cv--header">無料で体験する</a></li>
          </ul>
          <div class="header__menu__bg js-menu-close-btn"></div>
        </div>
      </div>
    </header>
